@prefix: lib;

@ig-blue: rgba(60, 122, 247, 1);
@bgc: #2c2c2c;
@white: #ffffff;
@image-gallery-prefix-cls: ~'@{prefix}-image-gallery';
@image-gallery-rc-tooltip: ~'@{prefix}-i-g-rc-tooltip';
@image-gallery-loading: ~'@{prefix}-i-g-loading';

.h(@value) {
  height: @value;
}

.w(@value) {
  width: @value;
}

.image() {
  .w(auto);
  .h(auto);
  object-fit: contain;
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.dfcc() {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bc(@color) {
  background-color: @color;
}

.position(@value) {
  position: @value;
}

.pcenter(@value) {
  .position(@value);
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.zi(@value) {
  z-index: @value;
}

@keyframes clip {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
