.@{image-gallery-prefix-cls} {
  .slick-thumb li {
    width: 96px;
    height: 72px;
  }

  .slick-dots {
    display: flex;
    li.icon {
      width: 24px;
      background-color: rgba(0, 0, 0, 0.25);
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    li {
      border: 4px solid transparent;
    }
    li:hover:not(.icon) {
      border: 4px solid @ig-blue;
    }
    .slick-active {
      border: 4px solid @ig-blue;
      transition: border 0.3s ease-out;
      -webkit-transition: border 0.3s ease-out;
      -moz-transition: border 0.3s ease-out;
      -ms-transition: border 0.3s ease-out;
      -o-transition: border 0.3s ease-out;
      -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
    }
  }

  .slick-prev:before,
  .slick-next:before {
    content: '';
  }

  .slick-prev,
  .slick-next {
    position: fixed;
  }

  .slick-prev {
    left: 50px;
  }

  .slick-next {
    right: 50px;
  }

  .slick-slider-wraper {
    height: 520px;
    border-radius: 8px;
  }

  .slick-list {
    width: 570px;
    margin: 0 auto;
    .slick-slide .image-gallery-image {
      width: 100%;
      object-fit: contain;
      max-height: calc(100vh - 80px);
    }
  }

  .image-gallery-thumbnails-container {
    position: relative;
    margin-top: 48px;
  }
}
